@font-face {
  font-family: "iconfont"; /* Project id 2913752 */
  src: url('iconfont.woff2?t=1636106300422') format('woff2'),
       url('iconfont.woff?t=1636106300422') format('woff'),
       url('iconfont.ttf?t=1636106300422') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_icon_radio_normal:before {
  content: "\e691";
}

.icon_icon_radio_selected:before {
  content: "\e607";
}

.icon_icon_arrow_left:before {
  content: "\e60d";
}

.icon_icon_arrow_right:before {
  content: "\e868";
}

.icon_icon_setting_question:before {
  content: "\e617";
}

.icon_icon_setting_about:before {
  content: "\e633";
}

.icon_icon_setting_language:before {
  content: "\e62c";
}

.icon_icon_setting_permission:before {
  content: "\e644";
}

.icon_icon_setting_theme:before {
  content: "\e7af";
}

.icon_icon_cloud_upload:before {
  content: "\e7d9";
}

.icon_icon_cloud:before {
  content: "\e7da";
}

.icon_icon_cloud_download:before {
  content: "\e7db";
}

.icon_icon_cloud_sync:before {
  content: "\e7dc";
}

.icon_icon_settings:before {
  content: "\e699";
}

.icon_icon_user_fill:before {
  content: "\e609";
}

.icon_icon_tab_more:before {
  content: "\e867";
}

.icon_icon_placeholder_404:before {
  content: "\e638";
}

.icon_icon_placeholder_empty:before {
  content: "\e6b2";
}

.icon_icon_placeholder_unconnected:before {
  content: "\e6b3";
}

.icon_icon_placeholder_unauthorized:before {
  content: "\e620";
}

.icon_icon_tab_icons:before {
  content: "\e627";
}

.icon_icon_tab_wallpaper:before {
  content: "\e713";
}

.icon_icon_tab_widget:before {
  content: "\e821";
}

